@model IEnumerable<LCDSArtGallery.Models.Product>

<div class="container w-75">
     <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active carousel-image">
              <img class="d-block w-100" src="~/images/home/carousel.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>...</h5>
                    <p>...</p>
                </div>
            </div>
            <div class="carousel-item carousel-image">
              <img class="d-block w-100" src="~/images/home/carousel1.jpg" alt="Second slide">
                  <div class="carousel-caption d-none d-md-block">
                      <h5>...</h5>
                      <p>...</p>
                  </div>
            </div>
            <div class="carousel-item carousel-image">
              <img class="d-block w-100" src="~/images/home/carousel2.jpg" alt="Third slide">
                  <div class="carousel-caption d-none d-md-block">
                      <h5>...</h5>
                      <p>...</p>
                  </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </div>

@*    <div class="card-group py-4 justify-content-between">
      <div class="card">
        <img class="card-img-top" src="~/images/home/carousel3.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-outline-primary">Primary</button>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="~/images/home/carousel4.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-outline-primary">Primary</button>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="~/images/home/carousel2.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-outline-primary">Primary</button>
        </div>
      </div>
    </div>


*@
	<div class="cards pt-4 mt-4">
         @foreach (var product in Model)
        {
		<div class="card-item">
			<div class="card-body">
                <img src="@product.ImageUrl" class="card-img" />
                 <div class="d-flex align-items-center justify-content-around py-3">
				<h2 class="card-title center">@product.Name</h2>
                <p class="text-justify text-right">Price:$@product.Price.ToString("0.00")</p>
                </div>
                    <p class="text-center">@product.Description</p>
				<div class="center" style="margin: 0 auto;">
					<a asp-action="Details" class="btn1" asp-route-id="@product.Id">Details</a>
				</div>
			</div>
		</div>
       }
	</div>


@section Scripts{

    <script src="~/js/product.js"></script>
}